@*@model IEnumerable< MVC_Project_220319.Models.Product>*@
@model MVC_Project_220319.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var product in Model.Products)
{
    <div>
        <h2>商品名稱： @product.Name</h2>
        <h3>商品價格： $@product.OriginalPrice</h3>
        <p>商品敘述： @product.Description</p>
        <p>商品上架日： @product.CreateDate</p>

    </div>
}

@foreach (var orders in Model.Orders)
{
    <div>
        <h2>訂購人姓名： @orders.Name</h2>
        <p>購買日期： @orders.Date</p>

    </div>
}